@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

@import './variables.css';
@import './datePicker.css';
@import './filterMenu.css';
@import './form.css';
@import './modal.css';
@import './popupMenu.css';
@import './taskPanel.css';

/* Use alternative box model */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: var(--content-font);
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);

  color: white;
  background-color: #0000bb;
  padding: 12px;
}

#header .icon {
  font-size: 24px;
}

#middle-container {
  flex: 1 1 auto;
  display: flex;
  height: calc(100% - var(--header-height) - var(--footer-height));
}

#side-panel {
  height: 100%;
  background-color: var(--side-panel-bg-color);
  overflow: auto;
  width: 350px;
  min-width: 250px;
  max-width: min(100vw, 500px);
}

#main-panel {
  flex: 1 1 auto;
  height: 100%;
  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#main-panel-header {
  width: 100%;
  max-width: var(--main-content-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 24px 12px;
}

#main-panel-heading-container {
  font-family: var(--label-font);
  flex: 1;
}

#main-panel-heading {
  font-size: 24px;
  font-weight: bold;
}

#main-panel-subheading {
  margin-top: 8px;
  font-size: 16px;
  white-space: pre-wrap;
  color: #505050;

  max-height: 64px;
  overflow: auto;
  line-height: normal;
}

#main-panel-header .icon-container {
  margin-left: 12px;
}

#footer {
  color: white;
  background-color: #2c2c32;
  font-size: 16px;
  padding: 12px;
  height: var(--footer-height);

  display: flex;
  justify-content: center;
  align-items: center;
}

#footer a {
  color: inherit;
}

#footer a:hover {
  color: #c3c2fd;
}

.closed {
  display: none;
}

.resizer {
  background-color: var(--side-panel-bg-color);
  width: 8px;
  height: 100%;
  cursor: col-resize;
}

.resizer.dragging, .resizer:hover {
  background-color: #9b9b9b;
}

.icon {
  color: inherit;
}

.icon-container {
  display: flex;
}

.icon-container .icon {
  font-size: 24px;
}

.icon-container > * + * {
  margin-left: 4px;
}

.collapsible {
  overflow: hidden;
  transition: height 250ms ease-out;
}

.title-container {
  display: flex;
  align-items: center;
}

.title-container > * + * {
  margin-left: 12px;
}

.title {
  font-family: 'Carter One', sans-serif;
  font-size: 24px;
}

.data-import-results {
  font-family: var(--label-font);
  font-size: 14px;
  white-space: pre-wrap;
  line-height: 1.5;
}

.data-import-error-list {
  list-style: disc inside;
}

@media (max-width: 400px) {
  .title-container .title {
    display: none;
  }
}

@media (max-height: 500px) {
  #main-panel-subheading {
    max-height: 24px;
  }
}
