@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

/* Use alternative box model */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  background-color: #0000bb;
  padding: 16px;
}

#middle-container {
  flex: 1 1 auto;
  display: flex;
}

#side-panel {
  height: 100%;
}

#main-panel {
  flex: 1 1 auto;
  height: 100%;
}

.title {
  font-family: 'Carter One', sans-serif;
  font-size: 36px;
}

.icon {
  font-size: 32px;
}
