.task-panel {
  width: 100%;
  border-top: 1px solid var(--item-separator-color);
  flex: 1;
  overflow: auto;
}

.task-panel-content {
  width: 100%;
  max-width: var(--main-content-width);
  padding: 12px;
  margin: auto;
}

.task-list-heading {
  font-family: var(--label-font);
  font-size: 20px;
  font-weight: bold;
  margin-top: 28px;
  padding: 0 8px;
}

.task-list-item {
  font-family: var(--label-font);
  display: flex;
  align-items: flex-start;
  padding: 12px 8px;
}

.task-list-item + .task-list-item {
  border-top: 1px solid var(--item-separator-color);
}

.task-list-item:hover {
  background-color: var(--item-selection-color);
  border-radius: 8px;
}

.task-list-item-checkbox {
  margin: 2px 12px 4px 0;
}

.task-list-item-info-container {
  flex: 1;
}

.task-list-item-name {
  font-size: 18px;
  margin: 6px 0;
}

.task-list-item-description {
  font-size: 14px;
  margin: 6px 0;
  line-height: normal;
  color: #505050;
  white-space: pre-wrap;
}

.task-list-item-details {
  font-size: 14px;
}

.task-list-item-past-due {
  color: var(--task-past-due);
}

.task-list-item-priority {
  font-style: italic;
}

.task-list-item .icon-container {
  margin-left: 12px;
}

.task-list-empty {
  font-family: var(--label-font);
  font-size: 18px;
  color: #505050;
  padding: 0 8px;
}
