:root {
  --label-font: Verdana, Geneva, Tahoma, sans-serif;
  --content-font: 'Times New Roman', Times, serif;
  --header-height: 56px;
  --footer-height: 44px;
  --header-color: #0000bb;
  --side-panel-bg-color: #f4f4f4;
  --modal-accent-color: #d4d4d4;
  --input-disabled-color: #707070;
  --input-disabled-bg-color: #e2e2e2;
  --item-separator-color: #f0f0f0;
  --item-selection-color: #f0f0f0;
  --menu-selection-color: #f0f0f0;
  --menu-separator-color: #c0c0c0;
  --menu-checked-color: #606060;
  --menu-selection-checked-color: #808080;
  --main-content-width: 800px;
}
